:root {
    --spicy-mix: rgba(142, 103, 73, 1);
    --TEXT-mon-font-family: "Montserrat", Helvetica;
    --TEXT-mon-font-weight: 400;
    --TEXT-mon-font-size: 16px;
    --TEXT-mon-letter-spacing: 0px;
    --TEXT-mon-line-height: 25px;
    --TEXT-mon-font-style: normal;
    --TITLE-mon-font-family: "Montserrat", Helvetica;
    --TITLE-mon-font-weight: 600;
    --TITLE-mon-font-size: 40px;
    --TITLE-mon-letter-spacing: 0px;
    --TITLE-mon-line-height: normal;
    --TITLE-mon-font-style: normal;
    --primary-button-large-font-family: "Roboto", Helvetica;
    --primary-button-large-font-weight: 500;
    --primary-button-large-font-size: 12px;
    --primary-button-large-letter-spacing: 2.76px;
    --primary-button-large-line-height: 129.99999523162842%;
    --primary-button-large-font-style: normal;
  }